* {
  box-sizing: border-box; }

.clearfix::before, .container::before, .row::before, .clearfix::after, .container::after, .row::after {
  content: ' ';
  display: table; }
.clearfix::after, .container::after, .row::after {
  clear: both; }

html,
body {
  background-color: #b4df9c;
  color: #1c222f;
  font: 14px Roboto;
  margin: 0;
  padding: 0; }

body {
  border-top: 25px solid #b4df9c; }

h2 {
  color: #158e76;
  text-transform: uppercase; }

a {
  color: #158e76;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }

img {
  max-width: 100%; }

.chevron {
  font-size: larger;
  line-height: 1; }
  .chevron::before {
    content: '\203a'; }

@-webkit-keyframes clouds {
  from {
    background-position-x: -50px; }
  to {
    background-position-x: -723px; } }
@keyframes clouds {
  from {
    background-position-x: -50px; }
  to {
    background-position-x: -723px; } }
.backdrop {
  background-color: #cfe7ea;
  background-image: linear-gradient(#9fcfd4, white 800px);
  border-top: 1px solid #7fc590;
  position: relative; }
  .backdrop::before, .backdrop::after {
    background: url("../images/clouds.svg") repeat-x -5rem 0;
    content: '';
    display: block;
    height: 210px;
    position: absolute;
    width: 100%; }
  .backdrop::before {
    -webkit-animation: clouds 50s linear infinite;
    animation: clouds 50s linear infinite;
    top: 10rem; }
  .backdrop::after {
    background-image: url("../images/skyline.svg");
    bottom: -1px; }

.container {
  margin: auto;
  max-width: 1024px;
  padding: 2rem 2.5rem; }

main > .container {
  background-color: #fffbef;
  position: relative;
  z-index: 1; }

.row {
  margin-left: -1rem;
  margin-right: -1rem; }

.col {
  box-sizing: border-box;
  padding: 0 1rem; }
  @media (min-width: 1024px) {
    .col {
      float: left; }
      .col.full {
        width: 100%; }
      .col.half {
        width: 50%; }
      .col.third {
        width: 33.3333333333%; }
      .col.fourth {
        width: 25%; }
      .col.two-thirds {
        width: 66.6666666667%; } }
  .reversed > .col {
    float: right; }

.site-footer {
  background-color: #158e76;
  color: white;
  font-size: .9rem;
  padding-bottom: 15vh; }
  .site-footer h4 {
    color: #b4df9c;
    font-size: 1.125rem;
    font-weight: normal;
    margin: 2rem 0 .5em;
    text-transform: uppercase; }
  .site-footer a {
    color: #b4df9c;
    text-transform: uppercase; }
  .site-footer ul {
    list-style: square;
    margin: 0 0 0 1.25em;
    padding: 0; }
    .site-footer ul li {
      margin-bottom: .5em; }
    .site-footer ul a {
      color: white;
      text-transform: none; }
  .site-footer p {
    margin-top: 0; }
  .site-footer .social-link {
    margin-right: 1rem; }
  .site-footer .comcast-shout {
    margin-top: 5rem; }
    .site-footer .comcast-shout img {
      width: 22rem; }

button, a.button {
  background-color: #7fc590;
  border: 2px solid transparent;
  border-radius: .375em;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1;
  padding: .25em .5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  button:hover, a.button:hover, button:focus, a.button:focus {
    border-color: #158e76;
    outline: none; }
  button:active, a.button:active {
    background-color: #aeaeae;
    border-color: transparent; }

button.block, a.block.button {
  display: block;
  width: 100%; }

button.small, a.small.button {
  font-size: 1rem; }

button.light, a.light.button {
  background-color: transparent;
  border-color: #158e76;
  color: #158e76; }
  button.light:hover, a.light.button:hover, button.light:focus, a.light.button:focus {
    background-color: rgba(21, 142, 118, 0.2); }
  button.light:active, a.light.button:active {
    background-color: #158e76;
    color: white; }

button.white, a.white.button {
  background-color: white;
  color: #fc6620; }
  button.white:hover, a.white.button:hover, button.white:focus, a.white.button:focus {
    border-color: #fc6620; }
  button.white:active, a.white.button:active {
    background-color: #fc6620;
    color: white; }

button.callout, a.callout.button {
  background-color: #fc6620;
  font-size: 1.25em; }
  button.callout:hover, a.callout.button:hover, button.callout:focus, a.callout.button:focus {
    border-color: #b43b02; }
  button.callout:active, a.callout.button:active {
    background-color: #e64b03; }

.module {
  margin: 2em 0; }
  .module > header {
    background-color: rgba(21, 142, 118, 0.1);
    display: flex;
    padding: .5rem 1rem; }
    .module > header.solid {
      background-color: #158e76;
      color: white;
      -webkit-font-smoothing: antialiased; }
    .module > header .module-title {
      flex: 1;
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0; }
    .module > header a {
      font-weight: bold;
      margin-top: .375em;
      text-transform: uppercase; }

.postlet {
  background-color: white;
  background-image: url("../images/everyblock-logomark.svg");
  background-position: right .5rem top .75rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  border: 1px solid #ebe8df;
  border-radius: .5rem;
  margin: 1.5rem 0;
  padding: 1.5rem;
  padding-bottom: 1rem; }
  .postlet .location {
    background-color: #f9aa35;
    background-image: url("../images/location.svg");
    background-position: .75rem 50%;
    background-repeat: no-repeat;
    background-size: auto 1.375rem;
    color: white;
    float: left;
    font-size: .9rem;
    font-weight: bold;
    line-height: 1;
    margin: -.75rem 0 .5rem -2rem;
    padding: .625rem 1rem .625rem 2rem;
    position: relative;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased; }
    .postlet .location::before {
      background: url("data:image/svg+xml;utf8,                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'>                    <polygon fill='#de9516' points='0,0 1,0 1,1'/>                </svg>");
      background-size: contain;
      content: '';
      display: block;
      height: .5rem;
      left: 0;
      position: absolute;
      top: 100%;
      width: .5rem; }
  .postlet .author {
    clear: left;
    overflow: hidden; }
  .postlet .avatar {
    border: 2px solid #b4df9c;
    border-radius: 100%;
    float: left;
    height: 40px;
    margin-right: .5rem;
    width: 40px; }
  .postlet .name {
    font-size: .85rem;
    margin-top: 6px;
    text-transform: uppercase; }
  .postlet .channel {
    color: #aeaeae;
    font-size: .85rem; }
  .postlet .post-title {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.125;
    margin: .5rem 0; }
  .postlet time {
    color: #aeaeae;
    display: inline;
    font-size: .85rem;
    font-style: italic;
    margin-right: .5rem; }
  .postlet .tags {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0; }
  .postlet .tag-item {
    display: inline-block; }
  .postlet .tag-link {
    background-color: rgba(174, 174, 174, 0.3);
    border-radius: .25rem;
    color: #65686f;
    display: inline-block;
    font-size: .85rem;
    font-weight: bold;
    margin: .25rem;
    padding: .25em;
    text-transform: uppercase;
    white-space: nowrap; }
    .postlet .tag-link:hover, .postlet .tag-link:focus {
      color: #158e76;
      text-decoration: none; }

.flex-ct {
  display: flex; }
  .flex-ct.align-end {
    align-items: flex-end; }
  .flex-ct.align-center {
    align-items: center; }

.flex-1 {
  flex: 1; }

.pull-left {
  float: left !important; }

.pull-right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.welcome-flag {
  background-color: #158e76;
  color: white;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: .5rem .75rem;
  position: relative;
  text-transform: uppercase; }
  .welcome-flag::after {
    background-image: url("data:image/svg+xml;utf8,            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 2'>                <polygon fill='#158E76' points='0,2 1,2 0,1 1,0 0,0 '/>            </svg>");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    content: '';
    display: block;
    left: 100%;
    margin-left: -1px;
    padding-left: 50%;
    position: absolute;
    top: 0; }

.welcome-form h2 {
  margin-bottom: .25em;
  margin-top: 1em; }
.welcome-form .field {
  height: 2.25rem;
  margin-bottom: .75rem;
  position: relative; }
.welcome-form .field-label {
  color: #65686f;
  font-size: .85rem;
  font-weight: bold;
  left: 0;
  line-height: 1.5;
  text-transform: uppercase;
  padding: .675em;
  position: absolute;
  top: 0;
  z-index: 1; }
.welcome-form .field-control {
  background-color: white;
  border: 1px solid #aeaeae;
  display: block;
  font: inherit;
  height: 100%;
  padding-left: 5.75rem;
  padding-bottom: .125rem;
  position: absolute;
  width: 100%; }
.welcome-form select.field-control {
  background-color: #158e76;
  border: none;
  border-radius: 0;
  color: white;
  font-size: .9rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%; }
.welcome-form ::-webkit-input-placeholder {
  font-size: .85rem;
  font-style: italic;
  line-height: 1.75; }
.welcome-form ::-moz-placeholder {
  font-size: .85rem;
  font-style: italic;
  line-height: 1.75; }
.welcome-form :-ms-input-placeholder {
  font-size: .85rem;
  font-style: italic;
  line-height: 1.75; }

.social-signup {
  margin-bottom: -.25em;
  margin-left: 1em;
  text-align: center; }
  .social-signup .hint {
    color: #65686f;
    font-style: italic; }

.social-link {
  float: left;
  opacity: .85; }
  .social-link:hover, .social-link:focus {
    opacity: 1; }
  .social-link img {
    display: block; }

.welcome-map-ct {
  background-color: #fee9b0;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  padding-top: 75%;
  position: relative; }
  .welcome-map-ct::before {
    box-shadow: inset -0.25em 0.25em 2em -0.25em rgba(0, 0, 0, 0.3);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%; }
  .welcome-map-ct .callout {
    bottom: 0;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%); }

.everyblock-features {
  background-color: rgba(21, 142, 118, 0.1);
  text-align: center; }
  .everyblock-features > header {
    background-color: rgba(21, 142, 118, 0.2);
    text-align: center; }
  .everyblock-features > .body {
    padding: 2rem; }
  .everyblock-features .feature-list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .everyblock-features .feature-list-item + .feature-list-item {
    border-top: 3px dotted white;
    margin-top: 2rem;
    padding-top: 2rem; }
