button {
    background-color: $brand-green;
    border: 2px solid transparent;
    border-radius: .375em;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1;
    padding: .25em .5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
        border-color: $brand-bluegreen;
        outline: none;
    }

    &:active {
        background-color: $brand-gray;
        border-color: transparent;
    }
}

button.block {
    display: block;
    width: 100%;
}

button.small {
    font-size: 1rem;
}

button.light {
    background-color: transparent;
    border-color: $brand-bluegreen;
    color: $brand-bluegreen;

    &:hover,
    &:focus {
        background-color: rgba($brand-bluegreen, .2);
    }

    &:active {
        background-color: $brand-bluegreen;
        color: white;
    }
}

button.white {
    background-color: white;
    color: $brand-redorange;
    
    &:hover,
    &:focus {
        border-color: $brand-redorange;
    }

    &:active {
        background-color: $brand-redorange;
        color: white;
    }
}

button.callout {
    background-color: $brand-redorange;
    font-size: 1.25em;

    &:hover,
    &:focus {
        border-color: darken($brand-redorange, 20);
    }

    &:active {
        background-color: darken($brand-redorange, 10);
    }
}

a.button {
    @extend button;
}