* {
    box-sizing: border-box;
}

.clearfix {
    &::before,
    &::after {
        content: ' ';
        display: table;
    }

    &::after {
        clear: both;
    }
}

html,
body {
    background-color: $brand-lightgreen; // $brand-black;
    color: $text-color;
    font: 14px Roboto;
    margin: 0;
    padding: 0;
}

body {
    border-top: 25px solid $brand-lightgreen;
}

h2 {
    color: $brand-bluegreen;
    text-transform: uppercase;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
}

.chevron {
    font-size: larger;
    line-height: 1;

    &::before {
        content: '\203a'; // single right-pointing angle quotation mark
    }
}

@-webkit-keyframes clouds {
    from { background-position-x: -50px; }
      to { background-position-x: -723px; }
}

@keyframes clouds {
    from { background-position-x: -50px; }
      to { background-position-x: -723px; }
}

.backdrop {
    background-color: mix(white, #9fcfd4);
    background-image: linear-gradient(#9fcfd4, white 800px);
    border-top: 1px solid $brand-green;
    position: relative;

    &::before,
    &::after {
        background: url('../images/clouds.svg') repeat-x -5rem 0;
        content: '';
        display: block;
        height: 210px;
        position: absolute;
        width: 100%;
    }

    &::before {
        -webkit-animation: clouds 50s linear infinite;
        animation: clouds 50s linear infinite;
        top: 10rem;
    }

    &::after {
        background-image: url('../images/skyline.svg');
        bottom: -1px;
    }
}

.container {
    @extend .clearfix;
    margin: auto;
    max-width: 1024px;
    padding: 2rem 2.5rem;
}

main > .container {
    background-color: $brand-white;
    position: relative;
    z-index: 1;
}

.row {
    @extend .clearfix;
    margin-left: -$gutter-width;
    margin-right: -$gutter-width;
}

.col {
    box-sizing: border-box;
    padding: 0 $gutter-width;

    @mixin col-width($num-cols, $multiplier: 1, $gutter-pct: 3) {
        width: percentage($multiplier/$num-cols);
    }

    @media (min-width: 1024px) {
        float: left;

        &.full { width: 100%; }
        &.half { @include col-width(2); }
        &.third { @include col-width(3); }
        &.fourth { @include col-width(4); }
        &.two-thirds { @include col-width(3, 2);  }
    }

    .reversed > & {
        float: right;
    }
}

.site-footer {
    background-color: $brand-bluegreen;
    color: white;
    font-size: .9rem;
    padding-bottom: 15vh;

    h4 {
        color: $brand-lightgreen;
        font-size: 1.125rem;
        font-weight: normal;
        margin: 2rem 0 .5em;
        text-transform: uppercase;
    }

    a {
        color: $brand-lightgreen;
        text-transform: uppercase;
    }

    ul {
        list-style: square;
        margin: 0 0 0 1.25em;
        padding: 0;

        li {
            margin-bottom: .5em;
        }

        a {
            color: white;
            text-transform: none;
        }
    }

    p {
        margin-top: 0;
    }

    .social-link {
        margin-right: 1rem;
    }

    .comcast-shout {
        margin-top: 5rem;
    
        img {
            width: 22rem;
        }
    }
}