.flex-ct {
    display: flex;

    &.align-end {
        align-items: flex-end;
    }

    &.align-center {
        align-items: center;
    }
}

.flex-1 {
    flex: 1;
}

.pull-left  { float: left !important; }
.pull-right { float: right !important; }

.text-left   { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right !important; }