.module {
    margin: 2em 0;

    > header {
        background-color: rgba($brand-bluegreen, .1);
        display: flex;
        padding: .5rem 1rem;

        &.solid {
            background-color: $brand-bluegreen;
            color: white;
            -webkit-font-smoothing: antialiased;
        }

        .module-title {
            flex: 1;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 0;
        }

        a {
            font-weight: bold;
            margin-top: .375em;
            text-transform: uppercase;
        }
    }
}