.postlet {
    background-color: white;
    background-image: url('../images/everyblock-logomark.svg');
    background-position: right .5rem top .75rem;
    background-repeat: no-repeat;
    background-size: 2rem;
    border: 1px solid mix($brand-white, $brand-gray, 75%);
    border-radius: .5rem;
    margin: 1.5rem 0;
    padding: 1.5rem;
    padding-bottom: 1rem;

    .location {
        background-color: $brand-orange;
        background-image: url("../images/location.svg");
        background-position: .75rem 50%;
        background-repeat: no-repeat;
        background-size: auto 1.375rem;
        color: white;
        float: left;
        font-size: .9rem;
        font-weight: bold;
        line-height: 1;
        margin: -.75rem 0 .5rem -2rem;
        padding: .625rem 1rem .625rem 2rem;
        position: relative;
        text-transform: uppercase;
        -webkit-font-smoothing: antialiased;

        &::before {
            background: url("data:image/svg+xml;utf8,\
                <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'>\
                    <polygon fill='#de9516' points='0,0 1,0 1,1'/>\
                </svg>");
            background-size: contain;
            content: '';
            display: block;
            height: .5rem;
            left: 0;
            position: absolute;
            top: 100%;
            width: .5rem;
        }
    }

    .author {
        clear: left;
        overflow: hidden;
    }

    .avatar {
        border: 2px solid $brand-lightgreen;
        border-radius: 100%;
        float: left;
        height: 40px;
        margin-right: .5rem;
        width: 40px;
    }

    .name {
        font-size: .85rem;
        margin-top: 6px;
        text-transform: uppercase;
    }

    .channel {
        color: $brand-gray;
        font-size: .85rem;
    }

    .post-title {
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 1.125;
        margin: .5rem 0;
    }

    footer {

    }

    time {
        color: $brand-gray;
        display: inline;
        font-size: .85rem;
        font-style: italic;
        margin-right: .5rem;
    }

    .tags {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .tag-item {
        display: inline-block;
    }

    .tag-link {
        background-color: rgba($brand-gray, .3);
        border-radius: .25rem;
        color: $muted-color;
        display: inline-block;
        font-size: .85rem;
        font-weight: bold;
        margin: .25rem;
        padding: .25em;
        text-transform: uppercase;
        white-space: nowrap;

        &:hover,
        &:focus {
            color: $brand-bluegreen;
            text-decoration: none;
        }
    }
}