$gutter-width:      1rem;

$brand-bluegreen:   #158e76;
$brand-orange:      #f9aa35;
$brand-green:       #7fc590;
$brand-cream:       #fee9b0;
$brand-black:       #1c222f;

$brand-redorange:   #fc6620;
$brand-lightgreen:  #b4df9c;
$brand-gray:        #aeaeae;
$brand-white:       #fffbef;

$text-color:        $brand-black;
$muted-color:       mix($brand-black, $brand-gray);
$link-color:        $brand-bluegreen;
