.welcome-flag {
    background-color: $brand-bluegreen;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    position: relative;
    text-transform: uppercase;

    &::after {
        background-image: url("data:image/svg+xml;utf8,\
            <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 2'>\
                <polygon fill='#158E76' points='0,2 1,2 0,1 1,0 0,0 '/>\
            </svg>");
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        content: '';
        display: block;
        left: 100%;
        margin-left: -1px;
        padding-left: 50%;
        position: absolute;
        top: 0;
    }
}

.welcome-form {
    h2 {
        margin-bottom: .25em;
        margin-top: 1em;
    }

    .field {
        height: 2.25rem;
        margin-bottom: .75rem;
        position: relative;
    }

    .field-label {
        color: $muted-color;
        font-size: .85rem;
        font-weight: bold;
        left: 0;
        line-height: 1.5;
        text-transform: uppercase;
        padding: .675em;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .field-control {
        background-color: white;
        border: 1px solid $brand-gray;
        display: block;
        font: inherit;
        height: 100%;
        padding-left: 5.75rem;
        padding-bottom: .125rem;
        position: absolute;
        width: 100%;
    }

    select.field-control {
        background-color: $brand-bluegreen;
        border: none;
        border-radius: 0;
        color: white;
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
    }

    ::-webkit-input-placeholder {
        font-size: .85rem;
        font-style: italic;
        line-height: 1.75;
    }

    ::-moz-placeholder {
        font-size: .85rem;
        font-style: italic;
        line-height: 1.75;
    }

    :-ms-input-placeholder {
        font-size: .85rem;
        font-style: italic;
        line-height: 1.75;
    } 
}

.social-signup {
    margin-bottom: -.25em;
    margin-left: 1em;
    text-align: center;

    .hint {
        color: $muted-color;
        font-style: italic;
    }
}

.social-link {
    float: left;
    opacity: .85;

    &:hover,
    &:focus {
        opacity: 1;
    }

    img {
        display: block;
    }
}

.welcome-map-ct {
    background-color: $brand-cream;
    margin-top: 1.25rem;
    margin-bottom: 3rem;
    padding-top: 75%;
    position: relative;

    &::before {
        box-shadow: inset -.25em .25em 2em -.25em rgba(black, .3);
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .callout {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translate(-50%, 50%);
    }
}

.everyblock-features {
    background-color: rgba($brand-bluegreen, .1);
    text-align: center;

    > header {
        background-color: rgba($brand-bluegreen, .2);
        text-align: center;  
    }

    > .body {
        padding: 2rem;
    }

    .feature-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .feature-list-item {
        + .feature-list-item {
            border-top: 3px dotted white;
            margin-top: 2rem;
            padding-top: 2rem;
        }
    }
}