doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic")
        link(rel="stylesheet", href="css/main.css")
        title EveryBlock Philadelphia
    body
        .backdrop
            main
                .container
                    .row
                        .col.third
                            .welcome-flag Welcome to
                            img(src="images/everyblock-phila.svg" alt="EveryBlock Philadelphia")
                            p EveryBlock is a place to connect with the people around you and receive hyper-local news based on your interests! You can share news, create events, and post messages to your neighbors. Learn more about #[a(href="#") how EveryBlock works #[span.chevron]]
                            form.welcome-form
                                h2 Join EveryBlock!
                                .field
                                    label.field-label(for="name") Full Name
                                    input.field-control(id="name", placeholder="(your name will not be displayed)")
                                .field
                                    label.field-label(for="email") Email
                                    input.field-control(id="email", type="email")
                                .field
                                    label.field-label(for="password") Password
                                    input.field-control(id="password", type="password", placeholder="(minimum 8 characters)")
                                .field
                                    select.field-control
                                        option Philadelphia
                                .flex-ct.align-end
                                    .flex-1
                                        button.light.block(type="submit") Join EveryBlock
                                    .social-signup
                                        .hint or sign up using:
                                        a.social-link(href="#"): img(src="images/social-facebook.png", height="36", width="36", alt="Facebook" )
                                        a.social-link(href="#"): img(src="images/social-twitter.png",  height="36", width="36", alt="Twitter" )
                                        a.social-link(href="#"): img(src="images/social-google.png",   height="36", width="36", alt="Google" )
                            
                        .col.two-thirds
                            .text-right
                                a.button.light(href="/login") Log In
                            .welcome-map-ct
                                a.button.callout(href="#") Check out EveryBlock Philly #[span.chevron]

                    .row
                        .col.two-thirds
                            .module.popular-posts
                                header
                                    h3.module-title Philly’s Popular Posts:
                                    a(href="#") View more on EveryBlock #[span.chevron]
                                .body
                                    .row
                                        .col.half
                                            .postlet
                                                header
                                                    .location Center City East
                                                    .author
                                                        a(href="#")
                                                            img.avatar(src="//placehold.it/80")
                                                            .name Technical.ly Philly
                                                        .channel optional Channel Here
                                                .body
                                                    h4.post-title Philly TechWeek Kicks off
                                                footer
                                                    time posted: 1m ago
                                                    ul.tags
                                                        li.tag-item: a.tag-link(href="#") Business
                                                        
                                        .col.half
                                            .postlet
                                                header
                                                    .location East Passyunk Crossing
                                                    .author
                                                        a(href="#")
                                                            img.avatar(src="//placehold.it/80")
                                                            .name Flood the Drummer
                                                        .channel ACTv PHL
                                                .body
                                                    h4.post-title Why it’s time for Philly’s Anti-Violence Protest to get political
                                                footer
                                                    time posted: 10m ago
                                                    ul.tags
                                                        li.tag-item: a.tag-link(href="#") Government    
                                    
                                
                            .module
                                header.solid
                                    h3.module-title How EveryBlock Works:
                                .body
                                    img(src="//placehold.it/1280x720", alt="Hello Neighbor")

                            p: a(href="#"): img(src="images/join-the-convo.png")
                            
                        .col.third
                            .module.everyblock-features
                                header
                                    h3.module-title EveryBlock Features:
                                .body
                                    ul.feature-list
                                        -
                                            var features = [
                                                { img: "images/features/follow-neighborhoods.png",  imgWidth: 100, txt: "Follow your neighborhood and other spots in your city that you care about." },
                                                { img: "images/features/select-things.png",         imgWidth: 189, txt: "Select the kind of things that interest you to customize your EveryBlock experience." },
                                                { img: "images/features/follow-users.png",          imgWidth: 162, txt: "Follow any EveryBlock users or connect with folks with similar interests or locations." },
                                                { img: "images/features/share-neighbors.png",       imgWidth: 132, txt: "Share with your neighbors – links, photos, news, questions – that’s what EveryBlock is for!" }
                                            ]
                                        each feature in features
                                            li.feature-list-item
                                                img(src=feature.img, alt="", width=feature.imgWidth)
                                                p= feature.txt
                                        
                
        footer.site-footer
            .container
                .row
                    .col.two-thirds
                        .row
                            .col.fourth
                                h4 About EB
                                ul
                                    li: a(href="#") How it works
                                    li: a(href="#") Become a publisher
                                    li: a(href="#") Add my business
                                    li: a(href="#") EveryBlock Metros

                            .col.fourth
                                h4 FAQs
                                ul
                                    li: a(href="#") EveryBlock Blog
                                    li: a(href="#") Terms &amp; Privacy
                                    li: a(href="#") Disclaimer
                                a(href="#") Invite Neighbors!

                            .col.third
                                h4 Feedback &amp; Support
                                p Duis vehicula egestas ipsum nec pellentesque. Fusce eget imper diet libero, non ullamcorper nisl.
                                a.button.white.small(href="#") Ask EveryBlock

                    .col.third
                        h4 Connect with EveryBlock
                        .clearfix
                            a.social-link(href="#"): img(src="images/social-facebook.png", height="36", width="36", alt="Facebook" )
                            a.social-link(href="#"): img(src="images/social-twitter.png",  height="36", width="36", alt="Twitter" )
                            a.social-link(href="#"): img(src="images/social-youtube.png",  height="36", width="36", alt="YouTube" )
                        .comcast-shout
                            img(src="images/comcast-nbcuniversal-logo.svg", alt="Comcast NBCUniversal")
